In [1]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.master('local').appName('udf_age_category').getOrCreate()

In [30]:
data = [
    ('안현', 39),
    ('제민', 25),
    ('크리스틴 리터', 41),
    ('소피아 앤 카루소', 21),
    ('에바 그린', 42),
    ('앤 해서웨이', 40),
    ('다니엘라 멜키오르', 26),
    ('최민식', 61)
]

In [31]:
schema = ['name', 'age']

In [32]:
df = spark.createDataFrame(data=data, schema=schema)

In [33]:
df.show()

+-----------------+---+
|             name|age|
+-----------------+---+
|             안현| 39|
|             제민| 25|
|    크리스틴 리터| 41|
| 소피아 앤 카루소| 21|
|        에바 그린| 42|
|      앤 해서웨이| 40|
|다니엘라 멜키오르| 26|
|           최민식| 61|
+-----------------+---+

In [34]:
df.createOrReplaceTempView('age')

In [38]:
def age_category(age):
    if age < 35:
        return 'young'
    elif age >= 35 and age < 60:
        return 'adult'
    elif age >= 60:
        return 'senior'

In [39]:
# from pyspark.sql.functions import udf
spark.udf.register('age_category', age_category)

In [40]:
spark.sql("SELECT name, age_category(age) \
    From age").show()

+-----------------+-----------------+
|             name|age_category(age)|
+-----------------+-----------------+
|             안현|            adult|
|             제민|            young|
|    크리스틴 리터|            adult|
| 소피아 앤 카루소|            young|
|        에바 그린|            adult|
|      앤 해서웨이|            adult|
|다니엘라 멜키오르|            young|
|           최민식|           senior|
+-----------------+-----------------+